<h1>Need Music?</h1>
<p class="lead">Use SpotifyApp to browse new releases and find music!</p>

<form>
    <div class="form-group">
        <input type="text" name="searchStr" class="form-control"
                [(ngModel)]="searchStr"
                (keyup)="searchArtists()"
                [ngbTypeahead]="search"
                [resultTemplate]="rt"
                (selectItem)="onSelect($event)"
                [inputFormatter]="formatter"
                placeholder="Search Music...">
    </div>
</form>


<ng-template #rt let-r="result" let-t="term">
        <img *ngIf="r.images.length > 0" [src]="r.images[0].url" class="me-1" style="width: 50px; float: left"/>
        <i *ngIf="r.images.length == 0" class="fas fa-search me-1" style="width: 50px; text-align: center; float: left"></i>
        <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight><br>
        <span *ngFor="let genre of r.genres; let isLast=last"><small>{{genre}}{{isLast ? '' : ', '}}</small></span>
</ng-template>