<h1>Need Music?</h1>
<p class="lead">Use the Spotify app to browse new releases and find music!</p>
<form>
    <div class="form-group">
        <input type="text" name="searchStr" [(ngModel)]="searchStr" class="form-control"
                (keyup)="searchArtists()" placeholder="Search Music...">
    </div>
</form>

<div *ngIf="artists">
    <div *ngFor="let artist of artists">
        <div class="row">
            <div class="col-md-12">
                <div class="artists well">
                    <h4><a routerLink="/artist/{{artist.id}}">{{artist.name}}</a></h4>
                    <div>
                        <strong>Genres: </strong>
                        <span *ngFor="let genre of artist.genres">{{genre}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>