<div class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a href="../" class="navbar-brand">SpotifyApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/search" role="button">Search</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button">Spotify</a>
                    <div class="dropdown-menu">
                        <a *ngIf="!isLoggedIntoSpotify" class="dropdown-item" (click)="onClickLogin()" role="button">Sign In</a>
                        <a *ngIf="isLoggedIntoSpotify" class="dropdown-item" routerLink="/user-profile">Profile</a>
                        <a *ngIf="isLoggedIntoSpotify" class="dropdown-item" routerLink="/playlists">Playlists</a>
                        <div *ngIf="isLoggedIntoSpotify" class="dropdown-divider"></div>
                        <a *ngIf="isLoggedIntoSpotify" class="dropdown-item" (click)="onClickLogout()" role="button">Log Out</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about" role="button">About</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-md-auto">
                <li class="nav-item">
                    <button class="btn btn-secondary btn-sm" routerLink="/authorization">Sign In</button>
                </li>
                <li class="nav-item dropdown">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown">
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" routerLink="/user-profile">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="onClickLogout()" role="button">Log Out</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>  
</div>

<div *ngIf="logoutClicked" class="alert alert-dismissible alert-success">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <p style="text-align: center;">You have successfully logged out! Your page will now reload. 
        <a class="text-hover" (click)="reloadPage()" role="button"><b> Reload Now</b></a></p>
</div>

<!--<img class="me-1 circle" style="width: 30px; float: inline-start" src="{{user.images[0].url}}">-->
