<div id="album" *ngIf="album">
    <header class="album-header">
        <div class="row">
            <div class="col-md-4">
                <div *ngIf="album.images.length > 0">
                    <img class="album-thumb" src="{{album.images[0].url}}">
                </div>
            </div>
            <div class="col-md-8">
                <h4 *ngIf="album.artists.length > 0">
                    <span *ngFor="let artist of album.artists">
                        {{artist.name}}
                    </span>
                </h4>
                <h2>{{album.name}}</h2>
                <h5>Release Date: {{album.release_date}}</h5>
                <a class="btn btn-primary" href="{{album.external_urls.spotify}}"> View In Spotify</a><br><br>
                <h2>Album Tracks</h2>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Duration</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let track of album.tracks.items" (click)="onTrackSelect(track)" role="button">
                            <td>{{track.track_number}}</td>
                            <th scope="row">{{track.name}}<br>
                                <small *ngFor="let artist of track.artists; let isLast=last">{{artist.name}}{{isLast ? '' : ', '}}</small>
                            </th>
                            <td>{{convertDuration(track.duration_ms)}}</td> 
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </header>
</div>