<div *ngIf="track" class="row">
    <div class="col-sm-4">
        <div *ngIf="track.album.images.length > 0">
            <img class="album-thumb" src="{{track.album.images[0].url}}"><br><br>
            <h2>{{track.name}}</h2>
            <h5 class="less-top-spacing">
                <span *ngFor="let artist of track.artists; let isLast=last">{{artist.name}}{{isLast ? '' : ', '}}</span>
            </h5>
            <h6 class="less-bottom-spacing">Album: {{track.album.name}}<span *ngIf="track.album.album_type!='album'"> - {{track.album.album_type | titlecase}}</span></h6>
            <h6 *ngIf="artist && artist.genres.length > 0" class="less-bottom-spacing">
                Genres: <span *ngFor="let genre of artist.genres; let isLast=last">{{genre | titlecase}}{{isLast ? '' : ', '}}</span>
            </h6>
            <h6>Date Released: {{convertDate(track.album.release_date)}}</h6>
            <b>Popularity: {{track.popularity}}/100</b>
            <div class="progress more-top-spacing">
                <div class="progress-bar" role="progressbar" [style.width]="track.popularity + '%'" 
                    aria-valuenow="track.popularity" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        {{lyrics}}
    </div>
</div>


<!--
<div *ngIf="artist">
    <header class="artist-header">
        <div *ngIf="artist.images.length > 0">
            <img class="artist-thumb circle" src="{{artist.images[0].url}}">
        </div>
        <h1>{{artist.name}}</h1>
        <p *ngIf="artist.genres.length > 0">
            Genres: <span *ngFor="let genre of artist.genres">{{genre}}</span>
        </p>
    </header>

    <div class="artist-albums">
        <div class="row">
            <div *ngFor="let album of albums" class="col-md-3">
                <div class="well album">
                    <div *ngIf="album.images.length > 0">
                        <img class="album-thumb img-thumbnail" src="{{album.images[0].url}}">
                        <h4>{{album.name}}</h4>
                        <button type="button" class="btn btn-primary" routerLink="/album/{{album.id}}">Album Details</button> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->