<navbar></navbar>

<div class="container main">
    <h1>Your Spotify Playlists:</h1>
    <div class="artist-albums">
        <div *ngIf="playlists" class="row">
            <div *ngFor="let playlist of playlists" class="col-md-3">
                <div class="well album">
                    <div *ngIf="playlist.images.length > 0">
                        <img class="album-thumb img-thumbnail" src="{{playlist.images[0].url}}">
                        <h4 class="album-truncate" title="{{playlist.name}}">{{playlist.name}}</h4>
                        <button type="button" class="btn btn-primary" routerLink="/playlist/{{playlist.id}}">Playlist Details</button> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>