<div class="main container">
    <form>
        <fieldset>
        <legend>What's your name?</legend>
        <div class="form-group">
            <label class="form-label mt-4">First Name</label>
            <input class="form-control" [(ngModel)]="firstName" name="firstName" placeholder="Enter first name">
        </div>
        <div class="form-group">
            <label class="form-label mt-4">Last Name</label>
            <input class="form-control" [(ngModel)]="lastName" name="lastName" placeholder="Enter last name">
        </div>
        <div class="form-group">
            <button class="mt-4 btn btn-primary" (click)="createUser()">Create Account</button>
            <button class="mt-4 btn btn-danger float-end" (click)="cancel()">Cancel and return to SpotifyApp</button>
        </div>
        </fieldset>
    </form>
</div>