<navbar></navbar>

<div class="main container">
    <form>
        <fieldset>
        <legend>What's your name?</legend>
        <div class="form-group">
            <label class="form-label mt-4">First Name</label>
            <input class="form-control" placeholder="Enter first name">
        </div>
        <div class="form-group">
            <label class="form-label mt-4">Last Name</label>
            <input class="form-control" placeholder="Enter last name">
        </div>
        </fieldset>
    </form>
</div>