<navbar></navbar>

<div class="main container">
    <div class="row">
        <div *ngIf="user">
            <img class="me-2 circle" style="float: left;" src="{{user.images[0].url}}">
            <br><br><br><br><p class="less-bottom-spacing" style="text-transform: capitalize;">{{user.product}} {{user.type}}</p>
            <h1>{{user.display_name}}</h1>
            <h6>{{user.email}}</h6>
            <p>{{user.followers.total}} Followers</p>
            <a class="btn btn-primary" href="{{user.external_urls.spotify}}" role="button" target="_blank">Go to Spotify</a>
        </div>
    </div><br>
    <div *ngIf="artists" class="row">
        <h4>Top Artists:</h4>
        <div *ngFor="let artist of artists" class="col-sm-2">
            <div class="well album" (click)="onArtistSelect(artist)" role="button">
                <img class="album-thumb circle" src="{{artist.images[0].url}}">
                <h5 class="album-truncate" title="{{artist.name}}">{{artist.name}}</h5>
                <p class="less-top-spacing" style="text-transform: capitalize;">{{artist.type}}</p>
            </div>
        </div>
    </div><br>
    <div class="row">
        <h4>Top Tracks:</h4>
        <track-table [tracks]="tracks"></track-table>
    </div>
</div>